{% extends 'base.html' %}
{% load static %}

{% block title %}Book Appointment{% endblock %}

{% block content %}
<div class="container my-4">
  {% include 'includes/breadcrumbs.html' with crumbs=crumbs %}

  <h2 class="mb-3">Book Appointment with {{ doctor.first_name }} {{ doctor.last_name }}</h2>

  {# Root-level appointment modal include #}
  {% include 'includes/appointment_modal.html' %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'doctors/js/doctor.js' %}"></script>
{% endblock %}
