<!-- templates/includes/confirmation_modal.html -->
<div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="cancelForm" method="post" action="">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="confirmCancelLabel">Confirm Cancellation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          Are you sure you want to cancel this appointment?
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Cancel Appointment</button>
        </div>
      </form>
    </div>
  </div>
</div>
